body,  select, div{
    background-color: #09f;
    font-size: 20pt;
    font-family: sans-serif;
    color: white;
}

.select1, .select2, .select2 option, #sub{  
    font-size: 15pt;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: tomato;  
    color: white;
}

.select1{
  margin-left: 19%;  
}



.num{
    padding: 10px;
    font-size: 15pt;
    border-radius: 5px;
    width: 50%;
    margin-left: 14%;
}



.error{
    background-color: rgb(218, 63, 63);
    padding: 10px;
    margin-bottom: 10px;
    width: 45%;
    border-radius: 5px;
    text-align: center;
}

.info{
    background-color: rgb(4, 180, 48);
    padding: 10px;
    margin-bottom: 10px;
    width: 45%;
    border-radius: 5px;
    text-align: center;
}

.result {    
    background-color: tomato;
    border-radius: 5px;
    padding: 5px;  
    text-align: center;
    width: 80%;
    margin-left: 10%;
    font-size: 27pt;
    margin-top: 20px;
    display: none;
}

.container{
    margin-left: 23%;        
    width: 46%;
    padding: 30px;   
    background-color: rgba(0, 0, 0, 0.89);
    border-radius: 10px; 
    align-content: center;
}

.topo{
    text-shadow: 2px 1px rgba(0, 0, 0, 0.89);
    margin-left: 32%;
    margin-top: 10%;
}